* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Lato_reg;
    src: url(../font/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Lato_bold;
    src: url(../font/Lato-Bold.ttf) format('truetype');
}

body {
    font-family: Lato_reg;
    color: white;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#88CC88 0%, #60BB60 100%);
}

.nav .container {
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 2em;
    background-color: rgba(0, 0, 0, 0.137);
    position: fixed;
    top: 0;
}

.nav .menu {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav .menu div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    transition: 0.3s ease;
}

.nav .menu div:hover {
    background-color: rgba(58, 58, 58, 0.137);
    transition: 0.3s ease;
}

.nav a {
    text-decoration: none;
    color: #fbfbfb;
}

.nav .brand a {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.nav .menu a {
    font-size: 1.2em;
}

.nav .menu .setting {
    cursor: pointer;
}

/* -------- NAV END --------*/


.content .container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.content .text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .text h1 {
    font-size: 4em;
    font-family: Lato_bold;
}

.content .text p {
    font-size: 1.3em;
}

.content .button{
    padding: 0.5em 1.5em;
    background-color: #1d8fcf;
    border-radius: 15px;
    font-size: 1.3em;
    margin-top: 3em;
}

.content .button:hover{
    background-color: hsl(202, 75%, 56%);
    transition: 0.3s ease;
}

.content .button a{
    text-decoration: none;
    color: #fbfbfb;
}

.content .hero{
    height: 100%;
    width: 50%;
    background-image: url(../img/drnurse.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* -------- CONTENT END ------ */